
table {
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  margin: 0;
}
td {
  width: 25%;
  padding: 0;
}

.thumbnail {
  width: 100%;
  height: auto;
}

#cart {
  height: 20%;
  width: 85%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(200,190,170,0.3);
}

.item {
  text-align: center;
}
