html {
  height: 100%;
}

body {
  margin: 0px;
  height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ddd;
}

body.index {
  background-image: url("images/storefront.jpg");
}
body.about {
  background-image: url("images/hon.jpg");

}

h1 {
  padding-left: 0.67em;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #cba;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 5px;
  font-size: 1.5vw;
}

#subtitle {
  color: rgba(200,200,200,0,6);
}

#main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(20,10,4,0.7)
}

#content {
  float: left;
  width: 85%;
  height: 100%;
}

#nav {
  float: right;
  width: 15%;
  height: 100%;
  background-color: rgba(200,180,150,0.2);
  text-align: left;
}
